<nav class="nav navbar-light shift">
  <a class="navbar-brand" routerLink="/">JTY</a>
  <ul class="nav right">
    <li class="nav-item">
      <i class="fab fa-instagram hoverable pointer"><a href="#"></a></i>
    </li>
    <li class="nav-item">
      <i class="fab fa-linkedin hoverable pointer"><a href="#"></a></i>
    </li>
  </ul>
  <ul class="nav left">
    <li class="nav-item">
      <a routerLink="/about" class="home">ABOUT</a>
    </li>
    <li class="nav-item">
      <a routerLink="/portfolio" class="portfolio">PORTFOLIO</a>
    </li>
    <li class="nav-item">
      <a routerLink="/contact" class="contact mr-3">CONTACT</a>
    </li>
  </ul>
</nav>
