<div class="container mt-2">
  <div class="row mt-5 mb-5 animated fadeIn">
    <div id="photos">
      <div class="view zoom"><img src="assets/testImages/photo1.JPG" alt=""></div>
      <div class="view zoom"><img src="assets/testImages/photo2.JPG" alt=""></div>
      <div class="view zoom"><img src="assets/testImages/photo3.JPG" alt=""></div>
      <div class="view zoom"><img src="assets/testImages/photo1.JPG" alt=""></div>
      <div class="view zoom"><img src="assets/testImages/photo1.JPG" alt=""></div>
      <div class="view zoom"><img src="assets/testImages/photo2.JPG" alt=""></div>
      <div class="view zoom"><img src="assets/testImages/photo3.JPG" alt=""></div>
    </div>
  </div>
</div>
