<div class="mt-2">
  <div class="container mb-5">
  <!-- <div class="row mt-5 mb-5">
    <div class="col-12">
      <img src="assets/testImages/home6.JPG" alt="">
      <img src="assets/testImages/home4.JPG" alt="">
      <img src="assets/testImages/home3.JPG" alt="">
      <img src="assets/testImages/home1.JPG" alt="">
    </div>
  </div>
</div> -->


<!--Carousel Wrapper-->
<mdb-carousel [isControls]="true" class="carousel-multi-item multi-animation" class="text-center animated fadeInDown" [animation]="'slide'">
  <!--First slide-->
  <mdb-carousel-item class="mb-5 mt-5">
    <div class="col-md-4">
      <mdb-card>
        <img style="height: 450px; width: 100%" src="assets/testImages/home6.JPG" alt="Card image cap">
      </mdb-card>
    </div>
    <div class="col-md-4 clearfix d-none d-md-block">
      <mdb-card>
        <img style="height: 450px; width: 100%;" src="assets/testImages/home4.JPG" alt="Card image cap">
      </mdb-card>
    </div>
    <div class="col-md-4 clearfix d-none d-md-block">
      <mdb-card>
        <img style="height: 450px; width: 100%" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(35).jpg" alt="Card image cap">
      </mdb-card>
    </div>
  </mdb-carousel-item>
  <!--/First slide-->
  <!--Second slide-->
  <mdb-carousel-item class="mt-5">
    <div class="col-md-4">
      <mdb-card>
        <img style="height: 450px; width: 100%;" src="assets/testImages/home4.JPG" alt="Card image cap">
      </mdb-card>
    </div>
    <div class="col-md-4 clearfix d-none d-md-block">
      <mdb-card>
        <img style="height: 450px; width: 100%;" src="assets/testImages/home1.JPG" alt="Card image cap">
      </mdb-card>
    </div>
    <div class="col-md-4 clearfix d-none d-md-block">
      <mdb-card>
      <img style="height: 450px; width: 100%;" src="assets/testImages/home2.JPG" alt="Card image cap">
      </mdb-card>
    </div>
  </mdb-carousel-item>
  <!--/Second slide-->

</mdb-carousel>
<!--/.Carousel Wrapper-->
</div>
